<section class="footer2 cid-rO8C1drTyG" id="footer2-b">
    <div class="footer-container container">

        <div class="copyright mbr-px-2 mbr-flex mbr-jc-c">
            <p class="mbr-text mbr-fonts-style mbr-black align-center display-7"><a href="contact.html">Contact us </a>&nbsp;| &nbsp;<a href="https://twitter.com/air360io" target="_blank">Twitter &nbsp;</a>| &nbsp;<a href="https://blog.air360.io/" target="_blank">Blog &nbsp;</a>| &nbsp;<a href="privacy.html">Privacy Policy</a>&nbsp;
                | &nbsp;<a href="terms.html">Terms</a>&nbsp;&nbsp;| <a href="gdpr.html">GDPR</a>&nbsp; | <a href="affiliate.html">Affiliates</a>&nbsp;| &nbsp;<a href="partners.html">Partners </a>| &nbsp;<a href="our-book.html">Our book</a>&nbsp; |
                &nbsp;
                <a href="jobs.html">Jobs</a>&nbsp;| &nbsp;<a href="our-story.html">Our story</a><br>© 2020 Air360. All rights reserved.<br></p>
        </div>
    </div>
</section>
<script src="pricingpage-assets/jquery-2.2.4.js"></script>
</body>

</html>