<section class="footer2 cid-rO8C1drTyG custom-footer" id="footer2-b">
    <div class="footer-container container">
        <div class="mbr-px-2 mbr-flex mbr-jc-c">
            <div class="mbr-row">
            <div class="footer-logo mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-3">
                <amp-img src="assets/images/2-90x99.png" layout="responsive" width="40.90909090909091" height="45" alt="Mobirise" class="mobirise-loader">
                    <div placeholder="" class="placeholder">
                        <div class="mobirise-spinner">
                            <em></em>
                            <em></em>
                            <em></em>
                        </div>
                    </div>
                    <a href="index.html"></a>
                </amp-img>
                <a href="contact.html" class="btn btn-primary btn-small">Contact us</a>
            </div>
            <div class="footer-links mbr-text mbr-fonts-style mbr-black align-center display-7 mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="https://blog.air360.io/" target="_blank">Blog</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="gdpr.html">GDPR</a></li>
                    <li><a href="affiliate.html">Affiliates</a></li>
                    <li><a href="partners.html">Partners </a></li>
                    <li><a href="our-book.html">Our book</a></li>
                    <li><a href="jobs.html">Jobs</a></li>
                    <li><a href="our-story.html">Our story</a></li>
                </ul>
            </div>
            <div class="footer-social mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-3">
                <ul>
                    <li><a href="https://twitter.com/air360io" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="footer-copyright">
    <p>© 2020 Air360. All rights reserved.</p>
</section>
<script src="pricingpage-assets/jquery-2.2.4.js"></script>
    <!-- ADDITIONAL LINKS BEGIN-->
    {% if additional_scripts %}
    {% for item in additional_scripts -%}
        <script src="{{ item.script_link  }}"></script>
    {%- endfor %}
    {% endif %}
    <!-- ADDITIONAL LINKS END-->
    <script src="js/app.js"></script>
</body>

</html>