.cid-rO890iqmw3 {
    background-color: #ffffff;
    overflow: visible;
}

.cid-rO890iqmw3 .navbar {
    background: #ffffff;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
}

.cid-rO890iqmw3 .dropdown-menu {
    box-shadow: 5px 7px 8px -3px rgba(64, 87, 191, 0.1);
}

.cid-rO890iqmw3 .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
}

.cid-rO890iqmw3 .navbar-logo amp-img,
.cid-rO890iqmw3 .navbar-logo img {
    height: 45px;
    width: 45px;
}

.cid-rO890iqmw3 .navbar-caption {
    line-height: inherit;
}

.cid-rO890iqmw3 .nav-dropdown .dropdown-menu {
    padding-bottom: 0;
    padding-top: 0.5rem;
}

.cid-rO890iqmw3 .nav-dropdown .dropdown-menu .dropdown-item {
    justify-content: flex-start;
    padding: 0.5rem 1.5rem;
}

.cid-rO890iqmw3 .btn {
    padding: 8px 30px;
}

.cid-rO890iqmw3 .navbar .navbar-collapse {
    width: 70%;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .cid-rO890iqmw3 .navbar .navbar-collapse {
        background: #ffffff;
    }
}

.cid-rO890iqmw3 .nav-link {
    margin: 0.667em 1em;
    padding: 0;
}

.cid-rO890iqmw3 .dropdown-item.active,
.cid-rO890iqmw3 .dropdown-item:active {
    background-color: transparent;
}

.cid-rO890iqmw3 .dropdown-menu {
    background: #ffffff;
}

.cid-rO890iqmw3 .hamburger span {
    background-color: #232323;
}

.cid-rO890iqmw3 .builder-sidebar {
    background-color: #ffffff;
}

.cid-rO890iqmw3 .close-sidebar:focus {
    outline: 2px auto #6278df;
}

.cid-rO890iqmw3 .close-sidebar span {
    background-color: #232323;
}

.cid-rO890iqmw3 .link:hover,
.cid-rO890iqmw3 .dropdown-item:hover {
    color: #6278df;
}

.cid-rO890iqmw3 .amp-iconfont {
    font-size: 1.5rem;
    width: 1.5rem;
}

.cid-rO8vzHjHT8 {
    padding-top: 8rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
}

.cid-rO8vzHjHT8 .mbr-section-title,
.cid-rO8vzHjHT8 .mbr-section-btn {
    color: #515151;
}

.cid-rO89gdMooE {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

@media (max-width: 992px) {
    .cid-rO89gdMooE .mbr-row>* {
        padding: 0;
    }
}

.cid-rO89gdMooE .title-block {
    margin: auto;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-rO89gdMooE .title-wrap {
        margin-bottom: 2rem;
    }
}

.cid-rO89gdMooE .mbr-section-title,
.cid-rO89gdMooE .mbr-section-btn {
    color: #515151;
}

.cid-rO8BL8shbr {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

@media (max-width: 991px) {
    .cid-rO8BL8shbr .card-wrapper {
        flex-wrap: wrap;
    }
}

.cid-rO8BL8shbr .btn-primary-outline {
    border: none;
    font-weight: 400;
    border-bottom: 2px solid #6278df;
    border-radius: 0px;
    padding: 0;
    opacity: 0.6;
}

.cid-rO8BL8shbr .btn-primary-outline:hover,
.cid-rO8BL8shbr .btn-primary-outline:focus {
    border: none;
    color: #6278df;
    background: transparent;
    border-bottom: 2px solid #6278df;
    border-radius: 0px;
    box-shadow: none;
}

.cid-rO8BL8shbr .card-box {
    width: 100%;
    padding: 2rem 1.5rem;
}

@media (max-width: 767px) {
    .cid-rO8BL8shbr .card-box {
        padding: 2rem 1rem;
    }
}

.cid-rO8BL8shbr .mbr-section-subtitle {
    color: #515151;
}

.cid-rO8BL8shbr .card-title,
.cid-rO8BL8shbr .card-btn,
.cid-rO8BL8shbr .card-img {
    color: #515151;
}

.cid-rO8OFjqYNX {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ffffff;
}

.cid-rO8OFjqYNX .card {
    padding: 0;
}

.cid-rO8OFjqYNX .card-wrapper {
    box-shadow: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.cid-rO8OFjqYNX .card-wrapper:hover {
    box-shadow: none;
}

.cid-rO8OFjqYNX .quote {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    font-size: 5.5rem;
    width: 5.5rem;
    color: #cccccc;
    opacity: 0.3;
}

.cid-rO8OFjqYNX .user-box {
    align-items: center;
}

.cid-rO8OFjqYNX .card-img {
    padding-right: 1rem;
    width: 7rem;
}

.cid-rO8OFjqYNX .title-wrap {
    width: 100%;
}

.cid-rO8OFjqYNX .card-text {
    color: #767676;
}

.cid-rO8BZEWvQO {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f7f9ff;
}

.cid-rO8BZEWvQO .quote {
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 5.1rem;
    width: 5.1rem;
    color: #cccccc;
    opacity: 0.3;
}

.cid-rO8BZEWvQO .card-box {
    padding: 3.7rem 3rem;
}

.cid-rO8BZEWvQO .user-box {
    align-items: center;
}

.cid-rO8BZEWvQO .card-wrapper {
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.cid-rO8BZEWvQO .card-wrapper::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
}

.cid-rO8BZEWvQO .card-img {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 9rem;
}

.cid-rO8BZEWvQO .title-wrap {
    width: 100%;
}

.cid-rO8BZEWvQO .cards-subtitle {
    color: #767676;
}

.cid-rO8BZEWvQO .card-text {
    color: #767676;
    text-align: center;
}

@media (max-width: 767px) {
    .cid-rO8BZEWvQO .card:not(.last-child) {
        padding-bottom: 0rem;
    }
    .cid-rO8BZEWvQO .card-box {
        padding: 2rem 1rem;
    }
}

.cid-rO8BZEWvQO .mbr-section-title,
.cid-rO8BZEWvQO .mbr-section-btn {
    color: #515151;
}

.cid-rOdJKouh5g {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-rOdJKouh5g .mbr-section-title,
.cid-rOdJKouh5g .mbr-section-btn {
    color: #515151;
}

.cid-rOcSXqbLNO {
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

@media (max-width: 992px) {
    .cid-rOcSXqbLNO .mbr-row .image-wrap {
        padding-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .cid-rOcSXqbLNO .mbr-row>* {
        padding: 0;
    }
}

.cid-rOcSXqbLNO .title-block {
    margin: auto;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-rOcSXqbLNO .title-wrap {
        margin-bottom: 2rem;
    }
}

.cid-rOcSXqbLNO .mbr-section-subtitle,
.cid-rOcSXqbLNO .mbr-section-btn {
    color: #515151;
}

.cid-rOcSXqbLNO .mbr-section-btn,
.cid-rOcSXqbLNO .mbr-text {
    color: #515151;
}

.cid-rO8C1drTyG {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-rO8C1drTyG .link-items .fLink {
    width: auto;
    line-height: 2;
}

.cid-rO8C1drTyG .mbr-row {
    margin: 0;
}

.cid-rO8C1drTyG .mbr-row:nth-child(1) {
    margin-bottom: 1rem;
}

.engine {
    position: absolute;
    text-indent: -2400px;
    text-align: center;
    padding: 0;
    top: 0;
    left: -2400px;
}

[class*="-iconfont"] {
    display: inline-flex;
}