.cid-rOhTrHrC2x {
    background-color: #ffffff;
    overflow        : visible;
}

.cid-rOhTrHrC2x .navbar {
    background: #ffffff;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
}

.cid-rOhTrHrC2x .dropdown-menu {
    box-shadow: 5px 7px 8px -3px rgba(64, 87, 191, 0.1);
}

.cid-rOhTrHrC2x .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
}

.cid-rOhTrHrC2x .navbar-logo amp-img,
.cid-rOhTrHrC2x .navbar-logo img {
    height: 45px;
    width : 45px;
}

.cid-rOhTrHrC2x .navbar-caption {
    line-height: inherit;
}

.cid-rOhTrHrC2x .nav-dropdown .dropdown-menu {
    padding-bottom: 0;
    padding-top   : 0.5rem;
}

.cid-rOhTrHrC2x .nav-dropdown .dropdown-menu .dropdown-item {
    justify-content: flex-start;
    padding        : 0.5rem 1.5rem;
}

.cid-rOhTrHrC2x .btn {
    padding: 8px 30px;
}

.cid-rOhTrHrC2x .navbar .navbar-collapse {
    width          : 70%;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .cid-rOhTrHrC2x .navbar .navbar-collapse {
        background: #ffffff;
    }
}

.cid-rOhTrHrC2x .nav-link {
    margin : 0.667em 1em;
    padding: 0;
}

.cid-rOhTrHrC2x .dropdown-item.active,
.cid-rOhTrHrC2x .dropdown-item:active {
    background-color: transparent;
}

.cid-rOhTrHrC2x .dropdown-menu {
    background: #ffffff;
}

.cid-rOhTrHrC2x .hamburger span {
    background-color: #232323;
}

.cid-rOhTrHrC2x .builder-sidebar {
    background-color: #ffffff;
}

.cid-rOhTrHrC2x .close-sidebar:focus {
    outline: 2px auto #6278df;
}

.cid-rOhTrHrC2x .close-sidebar span {
    background-color: #232323;
}

.cid-rOhTrHrC2x .link:hover,
.cid-rOhTrHrC2x .dropdown-item:hover {
    color: #6278df;
}

.cid-rOhTrHrC2x .amp-iconfont {
    font-size: 1.5rem;
    width    : 1.5rem;
}

.cid-rOhTrJHZow {
    padding-top     : 5rem;
    padding-bottom  : 10rem;
    background-color: #ffffff;
}

.cid-rOhTrNh6er {
    padding-top     : 2rem;
    padding-bottom  : 2rem;
    background-color: #ffffff;
}

.cid-rOhTrNh6er .link-items .fLink {
    width      : auto;
    line-height: 2;
}

.cid-rOhTrNh6er .mbr-row {
    margin: 0;
}

.cid-rOhTrNh6er .mbr-row:nth-child(1) {
    margin-bottom: 1rem;
}

.engine {
    position   : absolute;
    text-indent: -2400px;
    text-align : center;
    padding    : 0;
    top        : 0;
    left       : -2400px;
}

[class*="-iconfont"] {
    display: inline-flex;
}