.cid-rO890iqmw3 {
    background-color: #ffffff;
    overflow: visible;
}

.cid-rO890iqmw3 .navbar {
    background: #ffffff;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
}

.cid-rO890iqmw3 .dropdown-menu {
    box-shadow: 5px 7px 8px -3px rgba(64, 87, 191, 0.1);
}

.cid-rO890iqmw3 .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
}

.cid-rO890iqmw3 .navbar-logo amp-img,
.cid-rO890iqmw3 .navbar-logo img {
    height: 45px;
    width: 45px;
}

.cid-rO890iqmw3 .navbar-caption {
    line-height: inherit;
}

.cid-rO890iqmw3 .nav-dropdown .dropdown-menu {
    padding-bottom: 0;
    padding-top: 0.5rem;
}

.cid-rO890iqmw3 .nav-dropdown .dropdown-menu .dropdown-item {
    justify-content: flex-start;
    padding: 0.5rem 1.5rem;
}

.cid-rO890iqmw3 .btn {
    padding: 8px 30px;
}

.cid-rO890iqmw3 .navbar .navbar-collapse {
    width: 70%;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .cid-rO890iqmw3 .navbar .navbar-collapse {
        background: #ffffff;
    }
}

.cid-rO890iqmw3 .nav-link {
    margin: 0.667em 1em;
    padding: 0;
}

.cid-rO890iqmw3 .dropdown-item.active,
.cid-rO890iqmw3 .dropdown-item:active {
    background-color: transparent;
}

.cid-rO890iqmw3 .dropdown-menu {
    background: #ffffff;
}

.cid-rO890iqmw3 .hamburger span {
    background-color: #232323;
}

.cid-rO890iqmw3 .builder-sidebar {
    background-color: #ffffff;
}

.cid-rO890iqmw3 .close-sidebar:focus {
    outline: 2px auto #6278df;
}

.cid-rO890iqmw3 .close-sidebar span {
    background-color: #232323;
}

.cid-rO890iqmw3 .link:hover,
.cid-rO890iqmw3 .dropdown-item:hover {
    color: #6278df;
}

.cid-rO890iqmw3 .amp-iconfont {
    font-size: 1.5rem;
    width: 1.5rem;
}

.cid-rO8PHETjOJ {
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

@media (max-width: 992px) {
    .cid-rO8PHETjOJ .mbr-row .image-wrap {
        padding-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .cid-rO8PHETjOJ .mbr-row>* {
        padding: 0;
    }
}

.cid-rO8PHETjOJ .title-block {
    margin: auto;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-rO8PHETjOJ .title-wrap {
        margin-bottom: 2rem;
    }
}

.cid-rO8PHETjOJ .mbr-section-subtitle,
.cid-rO8PHETjOJ .mbr-section-btn {
    color: #515151;
}

.cid-rO8PHETjOJ .mbr-section-btn,
.cid-rO8PHETjOJ .mbr-text {
    color: #515151;
}

.cid-rOcrp8bx4n {
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

@media (max-width: 992px) {
    .cid-rOcrp8bx4n .mbr-row {
        flex-direction: column-reverse;
    }
    .cid-rOcrp8bx4n .mbr-row .image-wrap {
        padding-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .cid-rOcrp8bx4n .mbr-row>* {
        padding: 0;
    }
}

.cid-rOcrp8bx4n .title-block {
    margin: auto;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-rOcrp8bx4n .title-wrap {
        margin-bottom: 2rem;
    }
}

.cid-rOcrp8bx4n .mbr-section-subtitle,
.cid-rOcrp8bx4n .mbr-section-btn {
    color: #515151;
}

.cid-rOcrp8bx4n .mbr-section-btn,
.cid-rOcrp8bx4n .mbr-text {
    color: #515151;
}

.cid-rOcsRKVHOn {
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

@media (max-width: 992px) {
    .cid-rOcsRKVHOn .mbr-row .image-wrap {
        padding-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .cid-rOcsRKVHOn .mbr-row>* {
        padding: 0;
    }
}

.cid-rOcsRKVHOn .title-block {
    margin: auto;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-rOcsRKVHOn .title-wrap {
        margin-bottom: 2rem;
    }
}

.cid-rOcsRKVHOn .mbr-section-subtitle,
.cid-rOcsRKVHOn .mbr-section-btn {
    color: #515151;
}

.cid-rOcsRKVHOn .mbr-section-btn,
.cid-rOcsRKVHOn .mbr-text {
    color: #515151;
}

.cid-rOctnAogF3 {
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

@media (max-width: 992px) {
    .cid-rOctnAogF3 .mbr-row {
        flex-direction: column-reverse;
    }
    .cid-rOctnAogF3 .mbr-row .image-wrap {
        padding-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .cid-rOctnAogF3 .mbr-row>* {
        padding: 0;
    }
}

.cid-rOctnAogF3 .title-block {
    margin: auto;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-rOctnAogF3 .title-wrap {
        margin-bottom: 2rem;
    }
}

.cid-rOctnAogF3 .mbr-section-subtitle,
.cid-rOctnAogF3 .mbr-section-btn {
    color: #515151;
}

.cid-rOctnAogF3 .mbr-section-btn,
.cid-rOctnAogF3 .mbr-text {
    color: #515151;
}

.cid-rOcwXTpl8A {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ffffff;
}

.cid-rOcwXTpl8A .card {
    padding: 0;
}

.cid-rOcwXTpl8A .card-wrapper {
    box-shadow: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.cid-rOcwXTpl8A .card-wrapper:hover {
    box-shadow: none;
}

.cid-rOcwXTpl8A .quote {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    font-size: 5.5rem;
    width: 5.5rem;
    color: #cccccc;
    opacity: 0.3;
}

.cid-rOcwXTpl8A .user-box {
    align-items: center;
}

.cid-rOcwXTpl8A .card-img {
    padding-right: 1rem;
    width: 7rem;
}

.cid-rOcwXTpl8A .title-wrap {
    width: 100%;
}

.cid-rOcwXTpl8A .card-text {
    color: #767676;
}

.cid-rOdJcRgou8 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-rOdJcRgou8 .mbr-section-title,
.cid-rOdJcRgou8 .mbr-section-btn {
    color: #515151;
}

.cid-rO8C1drTyG {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-rO8C1drTyG .link-items .fLink {
    width: auto;
    line-height: 2;
}

.cid-rO8C1drTyG .mbr-row {
    margin: 0;
}

.cid-rO8C1drTyG .mbr-row:nth-child(1) {
    margin-bottom: 1rem;
}

.engine {
    position: absolute;
    text-indent: -2400px;
    text-align: center;
    padding: 0;
    top: 0;
    left: -2400px;
}

[class*="-iconfont"] {
    display: inline-flex;
}