{% set title = 'Air360 - Affiliate' %}
{% set pageName = 'affiliate' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
<section class="header1 cid-rPC026J7fX" id="header1-1q">
    

<div class="container">
<div class="mbr-row align-left mbr-jc-c">
<div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2">
    Are you an agency or a freelancer?</h1>
    <h2 class="mbr-section-subtitle mbr-fonts-style align-center mbr-gray mbr-light mbr-pt-3 display-5">Join our affiliate program and earn a <strong>lifetime </strong>recurring 20% reward. Earn a passive income with a 20% commission paid to you every month.</h2>
    
    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn-primary btn display-7" href="https://air360.typeform.com/to/lssP3Q" target="_blank">I want to earn passive income</a></div>
</div>
</div>
</div>
</section>

<section class="mbr-section content1 cid-rPCb0pYdYk" id="content1-1r">
    
    
    <div class="container">
        <div class="title mbr-pb-2">
            <h4 class="mbr-section-title mbr-fonts-style mbr-light mbr-gray display-5">Frequently asked questions</h4>
        </div>
        <div class="title mbr-pb-5">
            <h3 class="mbr-section-title mbr-fonts-style mbr-regular display-2">How does it work?</h3>
        </div>
        <div class="mbr-row mbr-light mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-6 md-pb">
                <p class="mbr-text mbr-fonts-style display-7"><strong><em>What do you mean by lifetime reward?</em></strong><br>As long as the client keeps using Air360, you earn a 20% commission paid to your own bank account every month.<br>For example, if the client you referred uses Air360 for the next 7 years on a $500 plan, you will get $100 paid to you every month. It's passive income for you.</p>
            </div>
            <div class="card mbr-col-sm-12 mbr-col-lg-6">
                <p class="mbr-text mbr-fonts-style display-7"><strong><em>How does it work?</em></strong><br>Once you sign up for an affiliate account, we'll give you a unique link you can share with your network. Whenever a customer signs up coming from this link, we will link this customer to your affiliate account.<br>Can't be simpler than that!<br><br></p>
            </div>
            
            
        </div>
    </div>
</section>

<section class="header1 cid-rPDWSn6WRE" id="header1-28">
    

<div class="container">
<div class="mbr-row align-left mbr-jc-c">
<div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2">
    Sounds like you?</h1>
    
    
    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn btn-primary-outline display-7" href="https://air360.typeform.com/to/lssP3Q" target="_blank">Get started</a></div>
</div>
</div>
</div>
</section>
{% endblock %}