{% set title = 'Air360 - Contact' %}
{% set pagaName = 'contact' %}
{% extends "./templates/_layout.html" %} 
{% block content %}

<section class="features3 cid-rOdlJ3AcGN" id="features4-14">
    

    
    <div class="container">
        <div class="title mbr-pb-4">
            <div class="mbr-row mbr-pb-4 vcenter mbr-jc-c">

                <div class="mbr-col-md-6">

                    <h3 class="mbr-section-title mbr-semibold mbr-fonts-style pb-4 display-2"><strong>Let's get in touch!</strong></h3>
                </div>
                <div class="mbr-col-md-6">
                    <h4 class="mbr-section-subtitle mbr-gray mbr-regular mbr-pt-2 mbr-fonts-style pb-4 display-7">📧 <a href="mailto:hello@air360.io">hello@air360.io</a><br>📱 <a href="https://wa.me/+33618707458">+33618707458</a><br><a href="https://twitter.com/air360io?lang=en" target="_blank">Say hi on Twitter</a><br></h4>
                </div>
            </div>

        </div>
        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6">
                <div class="card-wrapper mbr-column">
                    <div class="card-img mbr-flex">
                        <amp-img src="assets/images/paris-630x630.png" layout="responsive" width="319" height="319" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                            
                        </amp-img>
                    </div>
                    <div class="card-box mbr-m-auto mbr-pt-3 mbr-pb-3 mbr-px-4">
                        <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Paris Office 🗼🍞</h3>
                        
                        <p class="card-text mbr-gray mbr-fonts-style mbr-pt-2 mbr-light display-7">91 rue Faubourg St Honore<br>75008 PARIS<br>France<br><br><br></p>
                        
                    </div>
                </div>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 last-child">
                <div class="card-wrapper mbr-column">
                    <div class="card-img mbr-flex">
                        <amp-img src="assets/images/tokyo-630x630.png" layout="responsive" width="319" height="319" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                            
                        </amp-img>
                    </div>
                    <div class="card-box mbr-m-auto mbr-pt-3 mbr-pb-3 mbr-px-4">
                        <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Tokyo Office 🗻🏣</h3>
                        
                        <p class="card-text mbr-gray mbr-fonts-style mbr-pt-2 mbr-light display-7">Spaces 1F Otemachi Bldg&nbsp;<br>1 Chome-6-1 Ōtemachi, Chiyoda City<br>TOKYO 100-0004<br>Japan<br><br></p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}