{% set title = 'Air360 - Demo' %}
{% set pageName = 'demo' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
<section class="header4 cid-rQ1BG4g0ZD" id="header4-2n">
    
    
    <div class="container">
        <div class="mbr-row mbr-black mbr-row-reverse">
            <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-regular mbr-black display-2"><strong>What is Air360 in 2 minutes</strong></h1>
                    
                    <p class="mbr-text mbr-fonts-style mbr-light mbr-gray mbr-pt-4 display-7">Why Air360?<br><br><br></p>
                    
                </div>
            </div>
            <div class="video-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                <div class="video-block mbr-col-md-12 mbr-col-sm-12 mbr-m-auto"><amp-youtube width="16" height="9" layout="responsive" data-videoid="7MnP25BL-wI" class="mobirise-loader"></amp-youtube>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}