{% set title = 'Air360' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
    <section class="header1 cid-rO8vzHjHT8" id="header1-7">

        <style>
            .gradient-word {
                background-color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: -webkit-linear-gradient(324deg, #016bff 40%, #1aa4ff);
                background-image: -o-linear-gradient(324deg, #016bff 40%, #1aa4ff);
                background-image: linear-gradient(-234deg, #016bff 40%, #1aa4ff);
            }
        </style>
        <div class="container-fluid">
            <div class="mbr-row align-left mbr-jc-c">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
                    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-1"><strong style="color:#232E4A;">Be a conversion rate <span class="gradient-word">hero</span></strong></h1>
                    <h2 class="mbr-section-subtitle mbr-fonts-style align-center mbr-gray mbr-light mbr-pt-3 display-5">Finally a tool that gives you superpowers to unlock your full conversion rate potential. Stop leaving money on the table from today.</h2>

                    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn-primary btn display-4" href="http://bit.ly/30DIgzu">Request access</a>
                        <a class="btn btn-primary-outline display-4" href="http://bit.ly/30DIgzu">Book a demo</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="header4 cid-rO89gdMooE" id="header4-2">


        <div class="container">
            <div class="mbr-row mbr-black mbr-row-reverse">
                <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                    <div class="title-block mbr-col-sm-12 mbr-col-md-12">
                        <h1 class="mbr-section-title mbr-fonts-style mbr-regular mbr-black display-2" style="color:#232E4A; font-weight: 500;">Why should <span class="gradient-word">you</span> care?</h1>

                        <p class="mbr-text mbr-fonts-style mbr-light mbr-gray mbr-pt-4 display-7">Tired or endless &amp; complicated analytics reports? So were we. At the end of the day, it's about <strong>how you can generate more sales.&nbsp;</strong>Air360 helps you uncover <strong>hidden insights that will drive more revenue</strong>.<br><br></p>

                    </div>
                </div>
                <div class="video-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                    <!-- <div class="video-block mbr-col-md-12 mbr-col-sm-12 mbr-m-auto"><amp-youtube width="16" height="9" layout="responsive" data-videoid="Xzd_hhWLC9w" class="mobirise-loader"></amp-youtube>
                    
                </div> -->
                    <script src="https://fast.wistia.com/embed/medias/n2f58vp9xs.jsonp" async></script>
                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative; width: 100%">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_n2f58vp9xs videoFoam=true" style="height:100%;position:relative;width:100%">
                                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                    <img src="https://fast.wistia.com/embed/medias/n2f58vp9xs/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features3 cid-rO8BL8shbr" id="features3-8">



        <div class="container">
            <div class="title mbr-pb-4 align-center">
                <h3 class="mbr-section-title mbr-gray mbr-light mbr-fonts-style display-5">How are we different?</h3>
                <h4 class="mbr-section-subtitle mbr-semibold mbr-pt-3 mbr-fonts-style mbr-pb-5 display-2" style="color:#232E4A">Simple features. Amazing <span class="gradient-word">results.</span></h4>
            </div>
            <div class="mbr-row">
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                    <div class="card-wrapper mbr-column">
                        <div class="card-img mbr-flex">
                            <amp-img src="assets/images/mbr-606x401.jpg" layout="responsive" width="303.7556109725686" height="201" alt="Mobirise" class="mobirise-loader">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box mbr-m-auto mbr-pt-3 align-center">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Autotracking</h3>

                            <p class="card-text mbr-fonts-style mbr-gray mbr-pt-3 mbr-light display-7">Air360 tracks everything for you, no developer needed. Never miss data again.<br></p>
                            <div class="card-btn mbr-section-btn mbr-pt-3"><a class="btn btn-primary-outline display-4" href="product.html">Learn
                                More</a></div>
                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                    <div class="card-wrapper mbr-column">
                        <div class="card-img mbr-flex">
                            <amp-img src="assets/images/event-stats-606x372.jpg" layout="responsive" width="303" height="186" alt="Mobirise" class="mobirise-loader">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box mbr-m-auto mbr-pt-3 align-center">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Point &amp; click</h3>

                            <p class="card-text mbr-fonts-style mbr-gray mbr-pt-3 mbr-light display-7">Our Chrome Extension helps you unlock hidden data.</p>
                            <div class="card-btn mbr-section-btn mbr-pt-3"><a class="btn btn-primary-outline display-4" href="product.html">Learn
                                More</a></div>
                        </div>
                    </div>
                </div>
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper mbr-column">
                        <div class="card-img mbr-flex">
                            <amp-img src="assets/images/replays-1-606x379.jpeg" layout="responsive" width="303.4983498349835" height="190" alt="Mobirise" class="mobirise-loader">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box mbr-m-auto mbr-pt-3 align-center">
                            <h3 class="card-title mbr-semibold mbr-fonts-style  display-5">Intelligent replays</h3>

                            <p class="card-text mbr-fonts-style mbr-gray mbr-pt-3 mbr-light display-7">Watch sessions replays that impacted your conversion rate.</p>
                            <div class="card-btn mbr-section-btn mbr-pt-3"><a class="btn btn-primary-outline display-4" href="product.html">Learn
                                More</a></div>
                        </div>
                    </div>
                </div>
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                    <div class="card-wrapper mbr-column">
                        <div class="card-img mbr-flex">
                            <amp-img src="assets/images/laptop-funnel-606x403.png" layout="responsive" width="303.75186104218363" height="202" alt="Mobirise" class="mobirise-loader">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box mbr-m-auto mbr-pt-3 align-center">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Funnels made easy</h3>

                            <p class="card-text mbr-fonts-style mbr-gray mbr-pt-3 mbr-light display-7">&nbsp;Build powerful funnels or any visualization in minutes.<br></p>
                            <div class="card-btn mbr-section-btn mbr-pt-3"><a class="btn btn-primary-outline display-4" href="product.html">Learn
                                More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews cid-rO8OFjqYNX" id="testimonials2-c">


        <!--  -->
        <div class="container-fluid">

            <div class="mbr-row mbr-jc-c mbr-pt-4">
                <div class="mbr-col-lg-8 mbr-col-md-10 mbr-col-sm-12 ">
                    <div class="card">
                        <div class="card-wrapper mbr-flex">

                            <span class="mbr-iconfont quote fa-quote-left fa"><svg width="100%" height="100%" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M832 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z"></path></svg></span>

                            <div class="card-box mbr-px-5 mbr-py-4">
                                <p class="card-text mbr-fonts-style mbr-gray mbr-light align-center mbr-pt-4 display-7"><strong><em>"For a company seeking rapid growth, Conversion Rate Optimization (CRO) is simply a must-have. CRO is the most important marketing activity because it makes every visitor exponentially more valuable."</em></strong></p>


                            </div>
                        </div>
                    </div>
                    <div class="user-box mbr-flex mbr-jc-c mbr-pt-1 mbr-pb-2">
                        <div class="card-img img-with-overlay">
                            <amp-img class="mobirise-loader" src="assets/images/rand-fishkin-192x192.png" layout="responsive" width="96" height="96" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div>
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Rand Fishkin</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-gray mbr-fonts-style display-4">Moz.com Founder</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="header1 cid-rOdJKouh5g" id="header1-16">


        <div class="container">
            <div class="mbr-row align-left mbr-jc-c">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
                    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2" style="color:#232E4A; font-weight: 600;">Want to learn more? Let's <span class="gradient-word">talk.</span></h1>


                    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn-primary btn display-4" href="http://bit.ly/30DIgzu">Request access</a>
                        <a class="btn btn-primary-outline display-4" href="http://bit.ly/30DIgzu">Book a demo</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="header2 cid-rOcSXqbLNO" id="header2-y">


        <div class="container">
            <div class="mbr-row mbr-black">
                <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                    <div class="title-block mbr-col-sm-12 mbr-col-md-12">

                        <h2 class="mbr-section-subtitle mbr-fonts-style mbr-bold mbr-pb-1 display-2" style="color:#232E4A;">Get our book on <span class="gradient-word">Amazon</span></h2>
                        <p class="mbr-text mbr-fonts-style mbr-pt-3 display-7">How analytics can help you drive growth and beat the competition is now available on Amazon</p>
                        <div class="mbr-section-btn mbr-pt-5"><a class="btn btn-primary display-4" href="https://www.amazon.com/Analytics-Help-Drive-Growth-Competition/dp/1086483642" target="_blank">Buy on Amazon</a> <a class="btn btn-primary-outline display-4" href="our-book.html">Learn more</a></div>
                    </div>
                </div>
                <div class="image-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                    <div class="image-block mbr-col-md-12 mbr-col-sm-12 mbr-mr-auto">
                        <amp-img src="assets/images/smartmockups-k5nqz4i4-935x597.png" layout="responsive" width="606.105527638191" height="387" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div>
                            </div>
                            <a href="our-book.html"></a>
                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .brands-section {
            padding-top: 100px;
        }
        
        .brands-section .container {
            max-width: 1200px;
            padding: 0 30px;
        }
        
        .brands-section__title {
            text-align: center;
            margin-bottom: 3rem;
        }
        
        .brands-section__title h2 {
            font-size: 2.6rem;
            font-weight: 700;
            line-height: 1.21em;
            color: #232E4A;
            word-break: break-word;
        }
        
        .landing-header h2.mbr-regular.display-2 {
            color: #232E4A;
        }
        
        .brands-section img,
        .brands-section amp-img {
            max-width: 100%;
            height: auto;
        }
        
        .brands-section img.i-amphtml-fill-content.i-amphtml-replaced-content:nth-child(4) {
            display: none;
        }
        
        .brands-section__logos {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        
        .brands-section__logos .logo-wrapper {
            width: calc((100% / 6) - 80px);
            margin: 0 40px;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        
        @media screen and (max-width: 1199px) {
            .brands-section__logos .logo-wrapper {
                width: calc((100% / 4) - 40px);
            }
        }
        
        @media screen and (max-width: 510px) {
            .brands-section {
                margin: 2rem 0;
                padding-top: 0;
            }
            .brands-section__logos .logo-wrapper {
                width: calc((100% / 1) - 150px);
                margin-bottom: 40px;
            }
            .brands-section__title h2 {
                font-size: 1.95rem;
            }
        }
    </style>
    <section class="brands-section">
        <div class="container">
            <div class="brands-section__title">
                <h2></h2>
            </div>
            <div class="brands-section__logos">
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/1-square-enix.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/1-square-enix.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/2-botify-logo.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/2-botify-logo.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/2-Logo_Razer_2017.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/2-Logo_Razer_2017.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/3-sega.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/3-sega.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/4-puori.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/4-puori.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/5-logo_cloudimage.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/5-logo_cloudimage.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/bandai-namco.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/bandai-namco.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/capcom.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/capcom.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/ledger.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/ledger.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/liligo-com-logo.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/liligo-com-logo.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/Loreal_Paris-1167x338.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/Loreal_Paris-1167x338.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/maison-margiela.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/maison-margiela.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/onsen-musume.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/onsen-musume.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/scalefast_logo_HD.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/scalefast_logo_HD.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/sevenhugs.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/sevenhugs.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
                <div class="logo-wrapper">
                    <amp-img class="mobirise-loader i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout" src="landingpage-assets/images/logos/take2.png" layout="responsive" width="auto" height="60" alt="Mobirise" i-amphtml-layout="responsive">
                        <i-amphtml-sizer></i-amphtml-sizer>
                        <div placeholder="" class="placeholder amp-hidden">
                            <div class="mobirise-spinner">
                                <em></em>
                                <em></em>
                                <em></em>
                            </div>
                        </div>
                        <img decoding="async" alt="Mobirise" src="landingpage-assets/images/logos/take2.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </amp-img>
                </div>
            </div>
        </div>
    </section>
<script>
    (function($) {
        $(document).ready(function() {
            let sheetUrl = 'https://spreadsheets.google.com/feeds/cells/1Lu2mZ92J2Px3EoqksWlOuUWbD5VPg4JpjADZfd5TfIM/1/public/full?alt=json';
            $.getJSON(sheetUrl, function(data) {
                let res = data.feed.entry
                res.map(item => {
                    if (item.gs$cell.row === '10' && item.gs$cell.col === '2') {
                        const phrase = item.gs$cell.inputValue;
                        var word = 'increase ';
                        var output = phrase.replace(new RegExp('(' + word + ')'), '<span class="gradient-word">$1</span>');
                        $('.brands-section__title h2').html(output);
                    }
                })
            })
        })

    })(jQuery)
</script>
    {% endblock %}

