{% set title = 'GDPR' %}
{% set pageName = 'page7' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
<section class="mbr-section content1 cid-rOhTrJHZow" id="content1-1k">
    
    
    <div class="container">
        <div class="title mbr-pb-2">
            <h4 class="mbr-section-title mbr-fonts-style mbr-light mbr-gray display-5">The General Data Protection Regulation (GDPR) is a legal framework that sets guidelines for the collection and processing of personal information from individuals who live in the European Union (EU).</h4>
        </div>
        <div class="title mbr-pb-5">
            <h3 class="mbr-section-title mbr-fonts-style mbr-regular display-2"><strong>GDPR</strong></h3>
        </div>
        <div class="mbr-row mbr-light mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7"><strong>Analytics Services
</strong><br>
<br>Air360 analytics services are by GDPR compliant by design as we do not collect any Personable Identifiable Information (hereafter mentioned as "PII") from visitors.
<br>
<br>If you are sending, through our API, "PII" from your visitors, we will act as a Data Processor in compliance with GDPR guidelines and therefore:
<br>
<br>We will not sell or use by any mean, the provided data.
<br>Upon request, we will delete any desired data within 15 business days.
<br><br><strong>Session Recording
<br></strong>
<br>Air360 session recording feature does'nt record field input from users. Therefore we are not collecting "PII" that way (e.g. password or address).
<br>
<br>However, we can in certain cases, record "PII" in our records when users are navigating their Profile / Account information.
<br>
<br>Therefore, we have setup a &lt;div&gt; excluder, that prevent us from collecting any text in the excluded div sections of the HTML code. This information is not useful for us to provide our services and we encourage you to use the tag in the &lt;div&gt; sections containing "PII". In any case, Air360, will not extract such "PII" from recording and/or use it in any way.
<br>
<br>Upon request, we can blind any text from European-union visitors in the recording.
<br>
<br>Please contact us at legal@air360.io for such set-up.
<br>
<strong><br>Data Processing Agreement
</strong><br>
<br>If you are processing data from European visitors, please request our Data Processing Agreement (DPA) at legal@air360.io.
<br>
<br><strong>Terms of Use and Privacy Policy
</strong><br>
<br>Please review our Terms of Use, Privacy Policy, and/or any other user-facing agreements for assessing the full data privacy contractual framework in force. Please contact legal@air360.io for any request.</p>
            </div>
            
            
            
        </div>
    </div>
</section>
{% endblock %}