{% set title = 'Air360 - Partners' %}
{% set pageName = 'partners' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
<section class="header1 cid-rPDjn9Rs3i" id="header1-22">
    

<div class="container-fluid">
<div class="mbr-row align-left mbr-jc-c">
<div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2"><strong>Lack of time?<br>Our partners have you covered.</strong></h1>
    <h2 class="mbr-section-subtitle mbr-fonts-style align-center mbr-gray mbr-light mbr-pt-3 display-5">Our partners combine years of expertise. They master Air360 to optimize your conversion rate, funnels, shopping cart, churn reduction strategy or landing pages.</h2>
    
    
</div>
</div>
</div>
</section>

<section class="team1 cid-rPDl4tr1S6" id="team1-26">
    
    
    <!--  -->
    <div class="container">
        
        <div class="mbr-row mbr-jc-c mbr-pt-4">
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                <div class="card-wrapper">
                    <div class="card-img img-with-overlay">
                        <amp-img class="mobirise-loader" src="assets/images/julien-hover-600x600.jpeg" layout="responsive" width="303.2019950124688" height="298" alt="Mobirise">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                            
                        </amp-img>
                    </div>
                    <div class="card-box mbr-pt-4 mbr-px-2 mbr-pb-4">
                        <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Julien Zanni</h3>
                        <h4 class="card-subtitle mbr-light mbr-gray mbr-fonts-style display-7">Data Analytics</h4>
                        <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-1 display-4">Julien has 7+ years of experience in data analytics with large websites.<br>Julien led the data analytics team at LeBonCoin.fr. LeBonCoin is a portal for selling new and second hand goods and the second most searched website in France with more than 150M users a month. Julien has exceptional analytics skills and is also a wonderful person to work with!<br></p>
                        
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                <div class="card-wrapper">
                    <div class="card-img img-with-overlay">
                        <amp-img class="mobirise-loader" src="assets/images/profil-quentin-606x609.png" layout="responsive" width="303.4975369458128" height="305" alt="Mobirise">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                            
                        </amp-img>
                    </div>
                    <div class="card-box mbr-pt-4 mbr-px-2 mbr-pb-4">
                        <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Quentin Bernard</h3>
                        <h4 class="card-subtitle mbr-light mbr-gray mbr-fonts-style display-7">UX Consultant</h4>
                        <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-1 display-4">For the past 6 years, Quentin has helped more than 50 companies on consultancy missions concerning UX research, UX design, product optimization and trainings. He is the co-author of "The new frontiers of digital", Ed. Pearson and a member of the UX Days organization.</p>
                        
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                <div class="card-wrapper">
                    <div class="card-img img-with-overlay">
                        <amp-img class="mobirise-loader" src="assets/images/arnaud-200x200.jpg" layout="responsive" width="303" height="303" alt="Mobirise">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                            
                        </amp-img>
                    </div>
                    <div class="card-box mbr-pt-4 mbr-px-2 mbr-pb-4">
                        <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Arnaud Bernard</h3>
                        <h4 class="card-subtitle mbr-light mbr-gray mbr-fonts-style  display-7">UX Research &amp; Design</h4>
                        <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-1 display-4">Arnaud worked for Ad’s up (FT1000 Europe fastest growth company 2018) and Dolead (# 23 Top 100 Start up FR by EY).<br>He helps his clients on UX research &amp; UX design issues with an approach combining data and people. Arnaud is also a UX design in @Openclassrooms
<br>and member of the UX Days organization @FLUPA</p>
                        
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                <div class="card-wrapper">
                    <div class="card-img img-with-overlay">
                        <amp-img class="mobirise-loader" src="assets/images/carlo-9eyua0fr-400x400-400x400.png" layout="responsive" width="303" height="303" alt="Mobirise">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                            
                        </amp-img>
                    </div>
                    <div class="card-box mbr-pt-4 mbr-px-2 mbr-pb-4">
                        <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Carlo Bertozzi</h3>
                        <h4 class="card-subtitle mbr-light mbr-gray mbr-fonts-style display-7">Digital Transformation Consultant</h4>
                        <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-1 display-4">Carlo is a digital veteran with over 20 years of experience working to help brands navigate the ever-expanding digital landscape. He specialises in digital transformation projects that leverage audience data to drive customer experience and sales.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header1 cid-rPDli5phHv" id="header1-27">
    

<div class="container">
<div class="mbr-row align-left mbr-jc-c">
<div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2">Let's get started! 🚀</h1>
    <h2 class="mbr-section-subtitle mbr-fonts-style align-center mbr-gray mbr-light mbr-pt-3 display-5">Today is a great day to start increasing your conversion rate!&nbsp;</h2>
    
    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn-primary btn display-4" href="https://air360.typeform.com/to/lssP3Q" target="_blank">Let's talk</a></div>
</div>
</div>
</div>
</section>
{% endblock %}