{% set title = 'Air360 - Product' %}
{% set pageName = 'product' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
<!-- TOP VIDEO SECTION -->
<style>
    .top-video-section .text-side {
        margin-top: -10px;
    }
    
    .top-video-section .text-side ul {
        list-style: none;
        padding-left: 0;
    }
    
    .top-video-section .text-side ul li {
        margin-bottom: 20px;
    }
    
    .top-video-section .text-side ul li:last-child {
        margin-bottom: 0;
    }
    
    .top-video-section .text-side ul li h3 {
        color: #000;
        font-size: 22px;
        font-weight: 600;
    }
    
    .top-video-section .text-side ul li p {
        line-height: 1.5em;
        font-size: 18px;
    }
    
    @media screen and (max-width: 991px) {
        .top-video-section .text-side {
            margin-top: 30px;
        }
    }
</style>
    <!-- TOP VIDEO SECTION -->
    <style>
        .top-video-section .text-side {
            margin-top: -10px;
        }
        
        .top-video-section .text-side ul {
            list-style: none;
            padding-left: 0;
        }
        
        .top-video-section .text-side ul li {
            margin-bottom: 20px;
        }
        
        .top-video-section .text-side ul li:last-child {
            margin-bottom: 0;
        }
        
        .top-video-section .text-side ul li h3 {
            color: #000;
            font-size: 22px;
            font-weight: 600;
        }
        
        .top-video-section .text-side ul li p {
            line-height: 1.5em;
            font-size: 18px;
        }
        
        @media screen and (max-width: 991px) {
            .top-video-section .text-side {
                margin-top: 30px;
            }
        }
    </style>
    <section class="top-video-section">
        <div class="container">
            <div class="mbr-row">
                <div class="mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-5">
                    <div class="video-side">
                        <script src="https://fast.wistia.com/embed/medias/hxptpl54yl.jsonp" async></script>
                        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_hxptpl54yl videoFoam=true" style="height:100%;position:relative;width:100%">
                                    <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/hxptpl54yl/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-7">
                    <div class="text-side">
                        <ul>
                            <li>
                                <h3>On-page analytics</h3>
                                <p>Quickly find insights on your user experience right from your browser while navigating your own app or website.</p>
                            </li>
                            <li>
                                <h3>Smart funnels</h3>
                                <p>See how funnels can make your life much easier while delivering stunning conversion results!</p>
                            </li>
                            <li>
                                <h3>Session replays</h3>
                                <p>Feel how your users feel when using your app or website, what frustrates them? What do they like? Quickly spot conversion killers.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TOP VIDEO SECTION -->

    <section class="header2 cid-rO8PHETjOJ" id="header2-g">


        <div class="container">
            <div class="mbr-row mbr-black">
                <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                    <div class="title-block mbr-col-sm-12 mbr-col-md-12">

                        <h2 class="mbr-section-subtitle mbr-fonts-style mbr-bold mbr-pb-1 display-2">As simple as a click</h2>
                        <p class="mbr-text mbr-fonts-style mbr-pt-3 display-7">Using our Chrome Extension, Air360 allows you to navigate your own website and reveal metrics that matters with a simple click. Experience analytics like never before!</p>

                    </div>
                </div>
                <div class="image-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                    <div class="image-block mbr-col-md-12 mbr-col-sm-12 mbr-mr-auto">
                        <amp-img src="assets/images/event-stats-1212x758.jpg" layout="responsive" width="606" height="379" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div>
                            </div>

                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="header2 cid-rOcrp8bx4n" id="header2-q">


        <div class="container">
            <div class="mbr-row mbr-black mbr-row-reverse">
                <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                    <div class="title-block mbr-col-sm-12 mbr-col-md-12">

                        <h2 class="mbr-section-subtitle mbr-fonts-style mbr-bold mbr-pb-1 display-2">Watch session replays</h2>
                        <p class="mbr-text mbr-fonts-style mbr-pt-3 display-7">Experience your own website through your visitors eyes. Quickly find where your users encountered problems or frustrations.</p>

                    </div>
                </div>
                <div class="image-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                    <div class="image-block mbr-col-md-12 mbr-col-sm-12 mbr-mr-auto">
                        <amp-img src="assets/images/replays-2-764x478.jpeg" layout="responsive" width="605.7656903765691" height="379" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div>
                            </div>

                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="header2 cid-rOcsRKVHOn" id="header2-r">


        <div class="container">
            <div class="mbr-row mbr-black">
                <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                    <div class="title-block mbr-col-sm-12 mbr-col-md-12">

                        <h2 class="mbr-section-subtitle mbr-fonts-style mbr-bold mbr-pb-1 display-2">Funnels made easy</h2>
                        <p class="mbr-text mbr-fonts-style mbr-pt-3 display-7">Think funnels are complicated? You're right, but not anymore. Building funnels in Air360 feels almost too simple.</p>

                    </div>
                </div>
                <div class="image-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                    <div class="image-block mbr-col-md-12 mbr-col-sm-12 mbr-mr-auto">
                        <amp-img src="assets/images/funnel-1212x758.jpeg" layout="responsive" width="606" height="379" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div>
                            </div>

                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="header2 cid-rOctnAogF3" id="header2-s">


        <div class="container">
            <div class="mbr-row mbr-black mbr-row-reverse">
                <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 align-left mbr-flex">
                    <div class="title-block mbr-col-sm-12 mbr-col-md-12">

                        <h2 class="mbr-section-subtitle mbr-fonts-style mbr-bold mbr-pb-1 display-2">Meet your new assistant</h2>
                        <p class="mbr-text mbr-fonts-style mbr-pt-3 display-7">Mochi is your new math wiz monkey. Mochi is able to process 100's of millions of datapoints and tell you in plain English what matters. Don't waste your time anymore on endless dashboards &amp; reports.</p>

                    </div>
                </div>
                <div class="image-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-6 mbr-flex">
                    <div class="image-block mbr-col-md-12 mbr-col-sm-12 mbr-mr-auto">
                        <amp-img src="assets/images/insights-1212x758.jpeg" layout="responsive" width="606" height="379" alt="Mobirise" class="mobirise-loader">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div>
                            </div>

                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews cid-rOcwXTpl8A" id="testimonials2-t">


        <!--  -->
        <div class="container-fluid">

            <div class="mbr-row mbr-jc-c mbr-pt-4">
                <div class="mbr-col-lg-8 mbr-col-md-10 mbr-col-sm-12 ">
                    <div class="card">
                        <div class="card-wrapper mbr-flex">

                            <span class="mbr-iconfont quote fa-quote-left fa"><svg width="100%" height="100%" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M832 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z"></path></svg></span>

                            <div class="card-box mbr-px-5 mbr-py-4">
                                <p class="card-text mbr-fonts-style mbr-gray mbr-light align-center mbr-pt-4 display-7"><strong><em>"For a company seeking rapid growth, Conversion Rate Optimization (CRO) is simply a must-have. CRO is the most important marketing activity because it makes every visitor exponentially more valuable."</em></strong></p>


                            </div>
                        </div>
                    </div>
                    <div class="user-box mbr-flex mbr-jc-c mbr-pt-1 mbr-pb-2">
                        <div class="card-img img-with-overlay">
                            <amp-img class="mobirise-loader" src="assets/images/rand-fishkin-192x192.png" layout="responsive" width="96" height="96" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div>
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Rand Fishkin</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-gray mbr-fonts-style display-4">Moz.com Founder</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="header1 cid-rOdJcRgou8" id="header1-15">
        <style>
            .gradient-word {
                background-color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: -webkit-linear-gradient(324deg, #016bff 40%, #1aa4ff);
                background-image: -o-linear-gradient(324deg, #016bff 40%, #1aa4ff);
                background-image: linear-gradient(-234deg, #016bff 40%, #1aa4ff);
            }
        </style>

        <div class="container">
            <div class="mbr-row align-left mbr-jc-c">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
                    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2" style="font-weight: 600; color:#232E4A;">Want to learn more? Let's <span class="gradient-word">talk.</span></h1>


                    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn-primary btn display-4" href="http://bit.ly/30DIgzu">Request access</a>
                        <a class="btn btn-primary-outline display-4" href="http://bit.ly/30DIgzu">Book a demo</a></div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}