{% set title = 'Air360 - Use cases' %}
{% set pageName = 'use-cases' %}
{% extends "./templates/_layout.html" %} 
{% block content %}
    <section class="header1 cid-rOeCW9474v" id="header1-19">


        <div class="container-fluid">
            <div class="mbr-row align-left mbr-jc-c">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
                    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2"><strong style="color:#232E4A">Is Air360 for <span class="gradient-word">you?</span></strong></h1>
                    <h2 class="mbr-section-subtitle mbr-fonts-style align-center mbr-gray mbr-light mbr-pt-3 display-5">Your business relies on web &amp; mobile?<br>An extra 1% in conversion rate means significant extra income?<br><strong>We're a natural fit!</strong></h2>


                </div>
            </div>
        </div>
    </section>

    <section class="team1 cid-rOcAqzl0kw" id="team2-w">


        <!--  -->
        <div class="container">
            <div class="title align-center">
                <h3 class="mbr-section-title mbr-light mbr-gray mbr-fonts-style mbr-pb-2 display-7">We help team in more than 17 different countries including yours!</h3>
                <h4 class="mbr-section-subtitle mbr-pt-1 mbr-regular mbr-fonts-style mbr-pb-5 display-2"><strong style="color:#232E4A;">Why amazing teams <span class="gradient-word">love</span> Air360?</strong></h4>
            </div>
            <div class="mbr-row mbr-jc-c mbr-pt-4">
                <div class="card mbr-col-sm-12 mbr-col-md-10 mbr-col-lg-6 md-pb lg-pb">
                    <div class="card-wrapper mbr-flex">
                        <div class="card-img img-with-overlay mbr-col-md-6">
                            <amp-img class="mobirise-loader" src="assets/images/1-bzlry5qimyuup7lnsf5oaa-638x425.jpg" layout="responsive" width="525.4117647058823" height="350" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Jonathan Dury</h3>
                            <h4 class="cards-subtitle mbr-fonts-style display-4">Global head of UX<br>Liligo.com</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-3 display-4">When going through an in-depth re-shape of our Flights Results page which is at the core of our value proposal, we leveraged on exceptional Air360 capabilities to monitor how UX changes were impacting our conversion.</p>


                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card mbr-col-sm-12 mbr-col-md-10 mbr-col-lg-6 md-pb lg-pb">
                    <div class="card-wrapper mbr-flex">
                        <div class="card-img img-with-overlay mbr-col-md-6">
                            <amp-img class="mobirise-loader" src="assets/images/team-7-295x369.jpeg" layout="responsive" width="348.6792452830189" height="350" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Khalid Bajjouj</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-4">Head of Digital Sales<br>Kaspersky</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-3 display-4">Air360 allowed us to improve our conversion rate. The best part is that it literally took us 10 minutes to install. Insights also helped us detect some issues saving us a lot of time.
                                <br>Saying that we are very happy with Air360 is an understatement.</p>




                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card mbr-col-sm-12 mbr-col-md-10 mbr-col-lg-6 md-pb">
                    <div class="card-wrapper mbr-flex">
                        <div class="card-img img-with-overlay mbr-col-md-6">
                            <amp-img class="mobirise-loader" src="assets/images/olivier-471x471.jpg" layout="responsive" width="328" height="328" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Olivier Schott</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-4">Chief Marketing Officer<br>Scalefast.com</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-3 display-4">As an eCommerce startup, being able to spot conversion rate problems is a must have. Air360 allows us to iterate faster. With Air360, our whole team can make the right decisions to stay on the top of our game.</p>


                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card mbr-col-sm-12 mbr-col-md-10 mbr-col-lg-6 last-child">
                    <div class="card-wrapper mbr-flex">
                        <div class="card-img img-with-overlay mbr-col-md-6">
                            <amp-img class="mobirise-loader" src="assets/images/thao-344x287.jpg" layout="responsive" width="393.1428571428571" height="328" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-5">Thao Pham</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-4">Product Owner<br>Cloudimage.io</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-3 display-4">Every business that sells online needs Air360. It’s so simple to get started and will save you a lot of time. We got more insights using Air360 compared to other tools we used in the past.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team1 cid-rOcEyGF4DM" id="team3-x">


        <!--  -->
        <div class="container">

            <div class="mbr-row mbr-jc-c mbr-pt-4">
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                    <div class="card-wrapper">
                        <div class="card-img img-with-overlay">
                            <amp-img class="mobirise-loader rounded" src="assets/images/carlo-268x268.jpg" layout="responsive" width="134" height="134" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Carlo Bertozzi</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-7">Digital Transformation Consultant</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-2 display-4">You guys are onto something. I'm a fan!<br><br></p>






                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                    <div class="card-wrapper">
                        <div class="card-img img-with-overlay">
                            <amp-img class="mobirise-loader rounded" src="assets/images/0-bgoocwt25z3cz7v3-268x268.jpg" layout="responsive" width="134" height="134" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Julien Zanni</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-7">Head of Data Analytics</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-2 display-4">If you need a simple but powerful solution to increase your conversion rate, give Air360 a try!</p>


                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                    <div class="card-wrapper">
                        <div class="card-img img-with-overlay">
                            <amp-img class="mobirise-loader rounded" src="assets/images/ryo-268x268.jpg" layout="responsive" width="134" height="134" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Ryo Hashimoto</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-7">Founder</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-2 display-4"><em>Air360 codeless approach is perfect for us. I also love the Chrome Extension!</em></p>


                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 md-pb">
                    <div class="card-wrapper">
                        <div class="card-img img-with-overlay">
                            <amp-img class="mobirise-loader rounded" src="assets/images/tye-268x268.jpg" layout="responsive" width="134" height="134" alt="Mobirise">
                                <div placeholder="" class="placeholder">
                                    <div class="mobirise-spinner">
                                        <em></em>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>

                            </amp-img>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title mbr-semibold mbr-fonts-style display-7">Tye Watkins</h3>
                            <h4 class="cards-subtitle mbr-regular mbr-fonts-style display-7">Product Owner</h4>
                            <p class="card-text mbr-fonts-style mbr-gray mbr-light mbr-pt-2 display-4"><em>Air360 team has the most helpful customer success team I met so far!</em></p>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="header1 cid-rOeFxkDlWU" id="header1-1a">


        <div class="container">
            <div class="mbr-row align-left mbr-jc-c">
                <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-7">
                    <h1 class="mbr-section-title mbr-fonts-style align-center mbr-regular display-2" style="font-weight: 600; color:#232E4A;">Want to learn more? Let's <span class="gradient-word">talk.</span></h1>


                    <div class="mbr-section-btn align-center mbr-pt-5"><a class="btn-primary btn display-4" href="http://bit.ly/30DIgzu">Request access</a>
                        <a class="btn btn-primary-outline display-4" href="http://bit.ly/30DIgzu">Book a demo</a></div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}